.changepassword {
    background: url('../components/assets/changepass.jpg') center/cover no-repeat fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.heading {
    text-align: center;
}

.changepassword p {
    text-align: center;
    font-weight: bold;
    color: green;
}

.changeloginform {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin:200px 400px 382px 650px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 350px;
    text-align: center;
}

.changeinput-ele {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.changebutton {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.changebutton:hover {
    background-color: #0056b3;
}